#tblexportData {
    width: 100%;
    border-collapse: collapse;
}
.table-hover-animation {
    background-color: #f8f8f8;
}
.table tr {
    border-top: .05rem solid #bdb4b4;
}
.table-hover-animation thead th {
    border-top: 2px solid #f8f8f8;
    border-bottom: 0;
    background-color: #fff;
}
.table thead th {
    vertical-align: top;
}
.table th {
    font-size: 12px !important;
    text-transform: uppercase;
}
