/* .blank-page{
  
  background:url(../../../../../public/Assets/public/images/logo/rename.webp) repeat;
    background-size: auto;
  background-size: contain;
}

.blank-page {
  margin: 0px !important;
  height: 100vh!important;
}   

.text-primary{
  color: #FC2B5A!important;
} */

